/node_modules
.dockerignore
.gitignore
.prettierrc
commitlint.config.js
lerna.json

/client/node_modules
/client/.eslintrc.json
/client/.lintstagedrc.json
/client/.phase.json

/server/node_modules
/server/.eslintrc.json
/server/.phase.json
